.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: rgb(15, 15, 15);
  font-weight: 300;
  overflow-y: hidden;
}

nav{
  position: absolute !important;
  top: 0;
  padding-right:17px;
  box-sizing: border-box;
}

.bg{
  background-image: url('../images/fondoInicio.jpg');
  background-position: center top;
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.brand-logo{
  margin-left: 20px;
  background-image: url('../images/banighton.png');
  width: 280px;
  height: 100%;
}

no-js #loader{
  display: none;
}


.js #loader{
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}

.se-pre-con{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: rgba(10,10,10,1.00);
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type=email], input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
  border-bottom: 1px solid white;
}

.input-field label{
  color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.switchAnimation{
  opacity: 1;
  position: absolute;
}

.switchAnimation.ng-hide-add,
.switchAnimation.ng-hide-remove {
  transition: opacity linear 0.3s;
}

.switchAnimation.ng-hide {
  opacity: 0;
}

.page-animate{
  opacity: 1;
}

.page-animate.ng-hide-add,
.page-animate.ng-hide-remove {
  transition: opacity linear 0.3s;
}

.page-animate.ng-hide {
  opacity: 0;
}

.dropdown-content li > span {
  color: #3f51b5 !important;
}

h5 span{
  font-size: 16px;
  font-weight: 300;
}

nav ul li.active{
  background-color: #00aeef !important;
}

.bg-principal{
  background-color: #00aeef !important;
}

.bg-segundo{
  background-color: #006991 !important;
}

.color-principal{
  color: #00aeef !important;
}

.match{
  background-color: #ef5350;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.centrarImagen{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 20px;
}

.fakeNav{
  width: 100%;
  height: 65px;
}

.detallesScroll{
  height: 100vh;
  overflow-y: auto;
}

#map{
  height: 400px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px rgba(15, 15, 15, 0) inset !important;
}

.lugarItem{
  height: 20px;
  width: 100%;
  height: 40px;
  margin: 0 0 6px;
}

.lugarItemA {
  background-color: #00aeef;
  color: white;
  display: block;
  padding: 8px;
}

.dashboardPadding{
  padding: 0 200px;
}

.divider:last-child{
  margin-bottom: 100px;
}

.individualContenedor::-webkit-scrollbar{
  width: 0px;
}

.individualContenedor::-webkit-scrollbar-track-piece{
    background-color: transparent;
    -webkit-border-radius: 6px;
}

#test1{
	overflow: hidden;
	position: relative;
}

.lista{
	width: 262px;
	height: 107px;
	position: absolute;
	margin-top: -114px;
	margin-left: -1px;
	background-color: rgba(15,15,15,1.00);
}

.lista .listaImagen{
	width: 75px;
	height: 90px;
	padding: 10px;
	float: left;
}

.lista .listaImagen img{
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.listaNombre{
  color: #00aeef;
  padding-top: 5px;
  font-size: 18px;
}

.listaDireccion{
  color: white;
  font-size: 14px;
  margin-top: -3px;
}

.listaMusica{
  color: rgba(200, 200, 200, 0.7);
  font-size: 13px;
}

.listaMusica div{
  float: left;
}

.individual{
  width: 262px;
  height: 407px;
  position: absolute;
  margin-left: -1px;
  margin-top: 28px;
  border-radius: 10px;
  overflow: hidden;
}

.individualContenedor{
  width: 100%;
  height: 407px;
  display: flex;
  justify-content: center;
  overflow: auto;
  position: relative;
}

.individualCard{
  margin-top: 10px;
  width: 240px;
  background-color: rgba(15,15,15,1.00);
}

.individualEncabezado{
  width: 100%;
  height: 70px;
}

.individualLogo{
  width: 70px;
	height: 70px;
	padding: 10px;
	float: left;
}

.individualLogo img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.individualNombre{
  color: #00aeef;
  font-size: 18px;
  margin-left: 70px;
  padding: 10px 0 0 5px;
}

.individualDireccion{
  color: white;
  font-size: 14px;
  margin-left: 70px;
  padding: 0 0 0 5px;
}

.individualImagen{
  width: 100%;
}

.individualImagen img{
  width: 100%;
}

.individualCuerpo{
  width: 100%;
  min-height: 100px;
  background-color: coral;
}

.individualPie{
  width: 100%;
  height: 75px;
  background-color: lightblue;
  margin-bottom: 20px;
}

@media screen and (max-width: 992px){
  .brand-logo{
    margin-left: 0px;
  }
  .dashboardPadding{
    padding: 0 100px;
  }
}

@media screen and (max-width: 600px){
  .dashboardPadding{
    padding: 0 20px;
  }

  .movileScroll{
    height: 100vh;
    overflow-y: auto;
  }
}
