<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/materialize/bin/materialize.css" />
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="dashApp" ng-show="cargoTodo" ng-cloak>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="se-pre-con">
      <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" style="color:#7986cb"></i>
    </div>

    <nav
      class="transparent z-depth-0"
      style="z-index:9999; position:relative"
      ng-controller="DashboardCtrl"
      ng-cloak
    >
      <div class="nav-wrapper">
        <div class="brand-logo"></div>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul ng-show="navegador" class="right hide-on-med-and-down">
          <li class="active"><a ng-click="userLogout()">Salir</a></li>
        </ul>
        <span class="right" style="padding:0 10px">{{currentUser.nombre}} {{currentUser.apellido}}</span>
        <ul ng-show="!navegador" class="right hide-on-med-and-down">
          <li ng-class="{ active: PAGE === 'ingresar'}"><a href="#/">Ingresar</a></li>
          <li ng-class="{ active: PAGE === 'registrarse'}"><a ng-href="#/registrarse">Registrarse</a></li>
        </ul>

        <ul ng-show="navegador" class="side-nav" id="mobile-demo">
          <li class="active"><a ng-click="userLogout()">Salir</a></li>
        </ul>
        <ul ng-show="!navegador" class="side-nav" id="mobile-demo">
          <li data-activates="mobile-demo" ng-class="{ active: PAGE === 'ingresar'}"><a href="#/">Ingresar</a></li>
          <li ng-class="{ active: PAGE === 'registrarse'}"><a ng-href="#/registrarse">Registrarse</a></li>
        </ul>
      </div>
    </nav>

    <div ng-view=""></div>



    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script> -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/materialize/bin/materialize.js"></script>
    <script src="bower_components/angular-materialize/src/angular-materialize.js"></script>
    <script src="bower_components/angular-validation-match/dist/angular-validation-match.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/ingresar.js"></script>
        <script src="scripts/controllers/registrarse.js"></script>
        <script src="scripts/controllers/dashboard.js"></script>
        <script src="scripts/controllers/dashboardDetails.js"></script>

        <script src="scripts/services/authentication.js"></script>
        <script>
          $(window).on( 'load', function() {
            $(".se-pre-con").fadeOut("slow");
          });
          $(document).ready(() => {
            $(".button-collapse").sideNav();
            $('.tooltipped').tooltip({delay: 50});
          });
        </script>
        <!-- endbuild -->
</body>
</html>
