<div class="row">
  <div class="col s12 m4 movileScroll">
    <div class="fakeNav"></div>
    <h3 style="margin: 70px 0 25px" class="color-principal">Vista previa</h3>
    <div class="divider"></div>
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#test1">Lista</a></li>
          <li class="tab col s3" ng-click="saberAlto()"><a href="#test2">Individual</a></li>
        </ul>
      </div>
      <div id="test1" class="col s12">
        <div class="centrarImagen">
          <img class="responsive-img" src="images/privadoDisco.png">
          <div class="lista">

	        	<div class="listaImagen">
	        		<img ng-show="lugar.logo" ng-src="{{lugar.logo.url}}" alt="lugar.logo.nombre">
	        		<img ng-show="!lugar.logo" src="./images/logoPredeterminado.jpg" alt="logo predeterminado">
	        	</div>

            <div class="listaNombre">
              <span ng-show="!lugar.nombre">Nombre del lugar</span>
              <span ng-show="lugar.nombre">{{lugar.nombre}}</span>
            </div>

            <div class="listaDireccion">
              <span ng-show="!lugar.direccion">Dirección</span>
              <span ng-show="lugar.direccion">{{lugar.direccion}}</span>
            </div>

            <div class="listaMusica">
              <span ng-show="!lugar.musicas">Música</span>
              <span ng-show="lugar.musicas">
                <div ng-repeat="musica in lugar.musicas">{{musica.estilo}}&nbsp;</div>
              </span>
            </div>

          </div>
        </div>
      </div>
      <div id="test2" class="col s12">
        <div class="centrarImagen">
          <img class="responsive-img" src="images/privadoIndividual.png">
          <div class="individual">
            <div class="individualContenedor">
              <div class="individualCard">
                <div class="individualEncabezado">

                  <div class="individualLogo">
                    <img ng-show="lugar.logo" ng-src="{{lugar.logo.url}}" alt="lugar.logo.nombre">
                    <img ng-show="!lugar.logo" src="./images/logoPredeterminado.jpg" alt="logo predeterminado">
                  </div>

                  <div class="individualNombre">
                    <span ng-show="!lugar.nombre">Nombre del lugar</span>
                    <span ng-show="lugar.nombre">{{lugar.nombre}}</span>
                  </div>

                  <div class="individualDireccion">
                    <span ng-show="!lugar.direccion">Dirección</span>
                    <span ng-show="lugar.direccion">{{lugar.direccion}}</span>
                  </div>

                </div>

                <div class="individualImagen">
                  <img ng-show="lugar.imagen" ng-src="{{lugar.imagen.url}}">
                  <img ng-show="!lugar.imagen" src="./images/imagenPredeterminado.jpg" alt="imagen predeterminado">
                </div>

                <div class="individualCuerpo">

                </div>

                <div class="individualPie">

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m8 white-text detallesScroll">
    <div class="fakeNav"></div>
    <a class="waves-effect waves-light btn bg-principal" style="margin-top: 10px" href="#/dashboard">
      <i class="material-icons left">keyboard_arrow_left</i>
      Volver
    </a>
    <h3 style="margin: 25px 0" class="color-principal">Lugar datos</h3>

    <div class="divider"></div>
    <div class="section" style="position:relative; height:130px">
      <a
        ng-click="editar('eNombre')"
        class="btn-floating waves-effect waves-light bg-principal"
        style="position:absolute;right:10px;top:10px"
      >
        <i class="material-icons">mode_edit</i>
      </a>
      <h5>Nombre</h5>
      <p class="switchAnimation" ng-show="!eNombre">{{lugar.nombre}}</p>
      <input
        class="switchAnimation"
        style="margin-top:2px"
        ng-show="eNombre"
        ng-model="lugar.nombre"
        ng-change="lugar.$save()"
        id="nombre"
        type="text"
      />
    </div>
    <div class="divider"></div>

    <div class="section" style="position:relative; height:130px">
      <a
        ng-click="editar('eTipo')"
        class="btn-floating waves-effect waves-light bg-principal switchAnimation"
        style="position:absolute;right:10px;top:10px"
      >
        <i class="material-icons">mode_edit</i>
      </a>
      <h5>Tipo <span>Debe seleccionar un tipo de lugar en editar modo.</span></h5>
      <p class="switchAnimation" ng-show="!eTipo">{{lugar.tipo}}</p>
      <div class="switchAnimation" input-field ng-show="eTipo" style="width:100%;margin-top:-12px">
        <select ng-change="lugar.$save()" ng-model="lugar.tipo" material-select watch>
          <option value="" disabled selected>Seleciona una opcion</option>
          <option value="Disco">Disco</option>
          <option value="Bar">Bar</option>
        </select>
      </div>
    </div>

    <div class="divider"></div>

    <div class="section" style="position:relative; min-height:130px">
      <a
        ng-show="lugar.direccion"
        ng-click="editar('eDireccion')"
        class="btn-floating waves-effect waves-light bg-principal"
        style="position:absolute;right:10px;top:10px"
      >
        <i class="material-icons">mode_edit</i>
      </a>
      <h5>Dirección <span>Debe ingresar una dirección, la numeración debe ser sin puntos intermedios.</span></h5>

      <p class="switchAnimation" ng-show="!eDireccion">{{lugar.direccion}}</p>

      <div class="switchAnimation" ng-show="eDireccion || !lugar.direccion" style="width:100%; position:relative">
        <form
          style="padding:0 20px"
          name="myformsearch"
          ng-submit="search()"
        >
          <div class="input-field">
            <input id="direccion" type="text" ng-model="buscarDireccion" required>
            <label id="direccionLabel" for="direccion">Ejemplo: Av Rivadavia 2356</label>
            <button
              type="submit"
              class="waves-effect waves-light btn bg-principal"
              style="width:100%;margin-bottom:20px"
    			    ng-disabled="myformsearch.$invalid || authLoading"
            >
              Buscar
            </button>
          </div>
        </form>

        <div id="map"></div>
        <p style="margin: 15px 0;font-size:18px">Si la dirección es correcta, guardela.</p>
        <a
          class="waves-effect waves-light btn bg-principal"
          style="width:100%;margin-bottom:20px"
          ng-click="guardarDireccion()"
        >
          Guardar
        </a>

      </div>
    </div>

    <div class="divider"></div>

    <div class="section" style="position:relative; min-height:130px">
      <h5>Estilo de música</h5>

      <form
        style="padding:0 20px"
        name="myformmusic"
        ng-submit="music()"
      >
        <div class="input-field">
          <input id="music" type="text" ng-model="agregarMusica" autocomplete="off" required>
          <label id="musicLabel" for="music">Ejemplo: Dance</label>
          <button
            type="submit"
            class="waves-effect waves-light btn bg-principal"
            style="width:100%;margin-bottom:20px"
            ng-disabled="myformmusic.$invalid || authLoading"
          >
            Agregar
          </button>
        </div>
      </form>

      <div style="width:100%;padding:0 80px">
        <ul class="collection" ng-show="lugar.musicas">
          <li class="collection-item grey darken-4" ng-repeat="music in lugar.musicas">{{music.estilo}}
            <a ng-click="eliminarMusica(music)"
              class="btn-floating btn waves-effect waves-light red right"
              style="margin-top:-7px"
            >
              <i class="material-icons">delete</i>
            </a>
          </li>
        </ul>
      </div>

    </div>

    <div class="divider"></div>

    <div class="section" style="position:relative; min-height:130px">
      <a
        ng-click="editar('eAniversario')"
        class="btn-floating waves-effect waves-light bg-principal"
        style="position:absolute;right:10px;top:10px"
      >
        <i class="material-icons">mode_edit</i>
      </a>
      <h5>Aniversario</h5>
      <div ng-show="!eAniversario" class="switchAnimation">
        <span><strong>Fecha : </strong></span><span>{{lugar.aniversario}}</span>
      </div>

    </div>

    <div class="row">
      <div input-field class="col s4">
        <select class="" ng-model="dia" material-select watch>
          <option value="" disabled selected>Elige un dia</option>
          <option ng-repeat="dia in dias">{{dia}}</option>
        </select>
      </div>

      <div input-field class="col s4">
        <select class="" ng-model="mes" material-select watch>
          <option value="" disabled selected>Elige un mes</option>
          <option ng-repeat="mes in meses">{{mes}}</option>
        </select>
      </div>

      <div input-field class="col s4">
        <select class="" ng-model="ano" material-select watch>
          <option value="" disabled selected>Elige un año</option>
          <option ng-repeat="ano in anos">{{ano}}</option>
        </select>
      </div>
    </div>

    <div class="divider"></div>

    <div class="section" style="position:relative; min-height:130px">
      <a
        ng-click="editar('eLogo')"
        class="btn-floating waves-effect waves-light bg-principal"
        style="position:absolute;right:10px;top:10px"
      >
        <i class="material-icons">mode_edit</i>
      </a>
      <h5>Logo <span>El logo debe ser maximo 100x100 y solo JPG o PNG.</span></h5>
      <div ng-show="!eLogo" class="switchAnimation">
        <span><strong>Nombre : </strong></span><span>{{lugar.logo.nombre}}</span>
      </div>

      <div class="switchAnimation" ng-show="eLogo"
        style="width:100%; margin-bottom:15px; position:relative"
      >

        <form name="myLogoForm">
          <div  class="file-field input-field">
            <div class="btn bg-principal">
            	<span>File</span>
            	<input image-with-preview id="loguito" type="file" name="loguito" ng-model="loguito" dimensions="height < 101 && width < 101" accept="image/jpeg,image/png" />
            </div>
            <div class="file-path-wrapper">
            	<input class="file-path" type="text">
            </div>
          </div>
          <button ng-disabled="myLogoForm.$invalid" ng-click="guardarLogo()" class="waves-effect waves-light btn bg-principal" style="width:100%">guardar</button ng-disabled="myformlugar.$invalid || authLoading">
          <span style="color: red; font-size: 14px; padding-top: 10px" ng-show="myLogoForm.loguito.$error.image">
              La imagen debe ser formato JPEG o PNG!
          </span>
          <span style="color: red; font-size: 14px; padding-top: 10px" ng-show="myLogoForm.loguito.$error.dimensions">
              La imagen debe tener 100x100 maximo!
          </span>
          <div ng-show="loguito.src" class="preLogo">
            <span>Previsualizacion del logo</span>
            <div class="preLogoImg">
              <img  ng-src="{{loguito.src}}"/>
            </div>
          </div>
        </form>

      </div>
    </div>

    <div class="divider"></div>

    <div class="section" style="position:relative; min-height:130px">
      <a
        ng-show="lugar.direccion"
        ng-click="editar('eTextologo')"
        class="btn-floating waves-effect waves-light bg-principal"
        style="position:absolute;right:10px;top:10px"
      >
        <i class="material-icons">mode_edit</i>
      </a>
      <h5>Texto del logo <span>Ingrese un texto para el logo.</span></h5>

      <p ng-show="!eTextologo" class="switchAnimation">{{lugar.textologo}}</p>

      <div class="input-field" ng-show="eTextologo">
        <input
          id="textologo"
          class="switchAnimation"
          style="margin-top:-2px; position:relative"
          ng-model="lugar.textologo"
          ng-change="lugar.$save()"
          type="text"
        >
        <label for="textologo">Ingrese un texto</label>
      </div>

    </div>

    <div class="divider"></div>

    <div class="section" style="position:relative; min-height:130px">
      <a
        ng-click="editar('eImagen')"
        class="btn-floating waves-effect waves-light bg-principal"
        style="position:absolute;right:10px;top:10px"
      >
        <i class="material-icons">mode_edit</i>
      </a>
      <h5>Imagen <span>La imagen debe ser maximo 400x600 y solo JPG.</span></h5>
      <div ng-show="!eImagen" class="switchAnimation">
        <span><strong>Nombre : </strong></span><span>{{lugar.imagen.nombre}}</span>
      </div>

      <div class="switchAnimation" ng-show="eImagen"
        style="width:100%; margin-bottom:15px; position:relative"
      >

        <form name="myImageForm">
          <div  class="file-field input-field">
            <div class="btn bg-principal">
            	<span>File</span>
            	<input image-with-preview id="imagensita" name="imagensita" type="file" ng-model="imagensita" dimensions="height < 601 && width < 401" accept="image/jpeg">
            </div>
            <div class="file-path-wrapper">
            	<input class="file-path" type="text">
            </div>
          </div>
          <button ng-disabled="myImageForm.$invalid" ng-click="guardarImagen()" class="waves-effect waves-light btn bg-principal" style="width:100%">guardar</button>
          <span style="color: red; font-size: 14px; padding-top: 10px" ng-show="myImageForm.imagensita.$error.image">
              La imagen debe ser formato JPEG!
          </span>
          <span style="color: red; font-size: 14px; padding-top: 10px" ng-show="myImageForm.imagensita.$error.dimensions">
              La imagen debe tener 400x600 maximo!
          </span>
          <div ng-show="imagensita.src" class="preImage">
            <span>Previsualizacion de la imagen</span>
            <div class="preImageImg">
              <img  ng-src="{{imagensita.src}}"/>
            </div>
          </div>
        </form>

      </div>
    </div>

    <div class="divider"></div>

    <div class="section" style="position:relative; min-height:130px">
      <a
        ng-show="lugar.direccion"
        ng-click="editar('eTextoimagen')"
        class="btn-floating waves-effect waves-light bg-principal"
        style="position:absolute;right:10px;top:10px"
      >
        <i class="material-icons">mode_edit</i>
      </a>
      <h5>Texto del imagen <span>Ingrese un texto para el imagen.</span></h5>

      <p ng-show="!eTextoimagen" class="switchAnimation">{{lugar.textoimagen}}</p>

      <div class="input-field" ng-show="eTextoimagen">
        <textarea
          id="textoimagen"
          class="materialize-textarea switchAnimation"
          style="margin-top:-2px; position:relative"
          ng-model="lugar.textoimagen"
          ng-change="lugar.$save()"
          ></textarea>
        <label for="textoimagen">Ingrese un texto</label>
      </div>

    </div>

    <div class="divider"></div>

  </div>
</div>
