<div class="row detallesScroll white-text dashboardPadding">
  <div class="col s12">
    <div class="fakeNav"></div>
    <h3 style="margin: 25px 0" class="color-principal">Datos personales</h3>
    <div class="divider"></div>
    <div class="section" style="position:relative; height:130px">
      <a
        ng-click="editar('eNombre')"
        class="btn-floating waves-effect waves-light bg-principal"
        style="position:absolute;right:10px;top:10px"
      >
        <i class="material-icons">mode_edit</i>
      </a>
      <h5>Nombre</h5>
      <p class="switchAnimation" ng-show="!eNombre">{{cliente.nombre}}</p>
      <input
        class="switchAnimation"
        style="margin-top:2px"
        ng-show="eNombre"
        ng-model="cliente.nombre"
        ng-change="cliente.$save()"
        id="nombre"
        type="text"
      />
    </div>
    <div class="divider"></div>
    <div class="section" style="position:relative; height:130px">
      <a
        ng-click="editar('eApellido')"
        class="btn-floating waves-effect waves-light bg-principal"
        style="position:absolute;right:10px;top:10px"
      >
        <i class="material-icons">mode_edit</i>
      </a>
      <h5>Apellido</h5>
      <p class="switchAnimation" ng-show="!eApellido">{{cliente.apellido}}</p>
      <input
        class="switchAnimation"
        style="margin-top:2px"
        ng-show="eApellido"
        ng-model="cliente.apellido"
        ng-change="cliente.$save()"
        id="apellido"
        type="text"
      />
    </div>
    <div class="divider"></div>
    <h3 style="margin: 25px 0" class="color-principal">Crea un nuevo lugar</h3>
    <form
      name="myformlugar"
      ng-submit="crearLugar()"
    >
      <div class="input-field">
        <i class="material-icons prefix">place</i>
        <input
          id="lugar"
          type="text"
          ng-model="lugar"
          required
        />
        <label id="lugarLabel" for="lugar">Ingrese el nombre del lugar</label>
      </div>
      <button
        type="submit"
        class="waves-effect waves-light btn bg-principal"
        style="width: 100%"
        ng-disabled="myformlugar.$invalid || authLoading"
      >
        crear
      </button>
    </form>
    <h3 style="margin: 25px 0" class="color-principal">Lista de lugares</h3>
    <p ng-show="!lugares">No tienes ningun lugar creado</p>
    <div class="divider"></div>
    <div ng-show="lugares" style="margin-bottom:50px">
      <div ng-repeat="place in lugares">
        <div class="section" style="position:relative">
          <a
            href="#/dashboard/{{place.key}}"
            class="btn-floating waves-effect waves-light bg-principal"
            style="position:absolute;right:10px;top:10px"
          >
            <i class="material-icons">mode_edit</i>
          </a>
          <a
            ng-click="deleteModal('abrir', place)"
            class="btn-floating waves-effect waves-light red modal-trigger"
            style="position:absolute;right:10px;top:54px"
          >
            <i class="material-icons">delete</i>
          </a>
          <h5 style="margin-bottom:30px">{{place.nombre}}</h5>
        </div>
        <div class="divider"></div>
      </div>
    </div>
  </div>
</div>


<div id="modal1" class="modal red lighten-1 white-text">
  <div class="modal-content">
    <h4>Esta seguro que decea eliminar</h4>
    <h5>{{modal.nombre}}</h5>
  </div>
  <div class="divider"></div>
  <div class="modal-footer red lighten-1">
    <a class=" modal-action modal-close waves-effect waves-light btn-flat white-text"
      style="margin-left:5px">Cerrar</a>
    <a ng-click="deleteModal('eliminar', modal)" class=" modal-action modal-close waves-effect waves-red btn-flat white-text">Eliminar</a>
  </div>
</div>
